// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  font-family: gill-sans-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

  h2, h3, h4, h5, h6 {
    margin: 0; // Ingen ydre margen fra overskrifter
    padding: 0; // Ingen indre margen fra overskrifter
  }

  ul, ol {
    margin: 0; // Ingen ydre margen fra lister
    padding: 0; // Ingen indre margen fra lister
    list-style-position: inside; // List punkter står på linje
  }

  li {
    margin: 0; // Ingen ydre margen fra listpunkter
  }

  p {
    margin: 0; // Ingen ydre margen fra paragraffer
    padding: 0; // Ingen indre margen fra paragraffer
  }

  // Sikrer billeder er responsive
  img {
    display: block; // Billeder er et element (laver linjeskift)
    max-width: 100%; // Bredde må maks fylde 100%
    height: auto; // Højden skal tilpasse sig
  }
  $green: #a6cf9a;
  $red: #E55B69;
  //section: Headerfooter-start


#logo{
  display: none;
}

#infotop{
  display: none;
  }
nav{
  position: relative;
  height: 50px;
}

#burgermenu{
  padding: 0 20px;
  color: black;
}

#menupunkter{
  position: absolute;
  display: none;
  width: 100%;
  z-index: 100;

  a{
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: $green;
    text-align: center;
    height: 50px;
  }
}
//footer
footer{
  background-color: $green;
  width: 100%;
  height: 550px;
  color: white;
}
.footerimg{
  Padding: 0 12% 0 10%;
}
#infogrid{
  text-align: center;
}
#tilmeld{
  text-align: center;
}
#tilmeldfelt{
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
  text-align: center;
}
#tilmeldfelt:focus, input:focus{
    outline: none;
}
#button{
  background-color: white;
  Padding: 2px 15px 2px 15px;
  border: none;
}
  //section: Headerfooter-slut

  //section: Forside-start


.nyhedtekst{
  text-align: center;
}

.nyheder{
  margin-right: auto;
  margin-left: auto;
}

.nyhedbilleder{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: solid 1px $green;
  width: 50%;
}

.nyhedsend{
  text-align: center;
}


.nyhedbilleder img{
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 250px;
}


.anbefalettekst{
  text-align: center;
}

.anbefaletbilleder{
  width: 50%;
  border-bottom: solid 1px $green;
  margin-left: auto;
  margin-right: auto;

}

.anbefaletsend{
  text-align: center;
}


h2{
  color: $green;
}

p{
  text-align: center;
  width: 50%;
  margin: auto;
}

.soeren{
  text-align: center;
  border: 3px solid green;
}

.anmeldelser{
  text-align: center;
}

.soerenbillede{
  background-image: url("../images/photo-1496345875659-11f7dd282d1d.jpeg");
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border: 3px solid green;
  margin-right: auto;
  margin-left: auto;

}

.soeren img{
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.christina img{
  width: 30%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.christina{
  text-align: center;
}

.jeppe img{
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.jeppe{
  text-align: center;
}

.nyhedbilleder img{
  width: 50%;

}





  //section: Forside-slut

  //section: Produkter-start
  //section: Produkter-slut

  //section: produkterinfo-start
  //section: produkterinfo-slut

  //section: Omos-start
  //section: Omos-slut

  //section: Blog-start
  //section: Blog-slut

  //section: Bloginfo-start
  //section: Bloginfo-slut


  @media screen and (min-width: 768px) {
    // Alt der ændres i tablet stående fra mobil
    //section: Headerfooter-start
    //header
    header{
    }

    #infotop{
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      background-color: $green;
      color: white;
    }
    #infotoptekst{
      grid-column: 1 / 2;
      font-size: 18px;
      padding-left: 10px;
    }
    #infotopfacebook{
      grid-column: 2 / 3;
      color: white;
    }
    #infotopinstagram{
      grid-column: 3 / 4;
    }
    #logo{
      display: block;
      width: 200px;
    }
    #logomobil{
      display: none;
    }


    #burgermenu{
           display: none;
    }

    #menupunkter{
      display: inline;
      text-align: center;
    }
    //section: Headerfooter-slut

  }

  @media screen and (min-width: 992px) {
    // Alt der ændres i tablet liggende fra mobil og tablet stående
  }

  @media screen and (min-width: 1200px) {
    // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  }

  @media print {
    // Alt der gælder for print specifikt
  }
