* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 300;
  font-style: normal; }

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 30px; }

h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.stortbillede img {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.nyhedtekst {
  text-align: center; }

.nyheder {
  margin-right: auto;
  margin-left: auto; }

.nyhednavn {
  text-align: center; }

.nyhedpris {
  color: #a6cf9a;
  text-align: center; }

.nyhedbilleder {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: solid 1px #a6cf9a;
  width: 50%;
  margin-top: 25px; }

form {
  display: flex;
  justify-content: center;
  align-items: center; }

.koebknap {
  width: 100px;
  height: 80px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  background-color: #E55B69;
  padding: 0 0 5px 0;
  justify-content: center;
  align-items: center;
  display: flex; }

button {
  color: #ffffff; }

.nyhedbilleder img {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px; }

.anbefaletpris {
  color: #a6cf9a;
  text-align: center; }

.anbefaletnavn {
  text-align: center; }

.anbefalettekst {
  text-align: center; }

.anbefaletbilleder {
  width: 50%;
  border-bottom: solid 1px #a6cf9a;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px; }

.anbefaletsend {
  text-align: center; }

h2 {
  color: #a6cf9a; }

p {
  text-align: center;
  width: 50%;
  margin: auto; }

.soeren {
  text-align: center;
  padding: 15px; }

.anmeldelser {
  text-align: center; }

.soerenbillede {
  background-image: url("../images/photo-1496345875659-11f7dd282d1d.jpeg");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto; }

.soeren img {
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }

.christinabillede {
  background-image: url("../images/photo-1529932260967-af9d3bbd8138.jpeg");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }

.christina img {
  width: 30%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }

.christina {
  text-align: center;
  padding: 15px; }

.jeppebillede {
  background-image: url("../images/photo-1489779162738-f81aed9b0a25.jpeg");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto; }

.jeppe img {
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }

.jeppe {
  text-align: center;
  padding: 15px; }

.nyhedbilleder img {
  width: 50%; }

@media screen and (min-width: 1200px) {
  .stortbillede img {
    width: 1600px;
    height: 900px;
    margin-left: auto;
    margin-right: auto; }

  .nyhedtekst {
    text-align: center; }

  .nyheder {
    display: flex;
    justify-content: space-around;
    width: 80%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 50px; }

  .nyhednavn {
    text-align: center; }

  .nyhedpris {
    color: #a6cf9a;
    text-align: center; }

  .nyhedbilleder {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: solid 1px #a6cf9a;
    width: 50%;
    margin-top: 25px; }

  .koebknap {
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    background-color: #E55B69;
    padding: 0 0 5px 0; }

  button {
    color: #ffffff; }

  .nyhedbilleder img {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px; }

  .anbefalet {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px; }

  .anbefalet img {
    height: 200px;
    width: 200px; }

  .anbefaletpris {
    color: #a6cf9a;
    text-align: center; }

  .anbefaletnavn {
    text-align: center; }

  .anbefalettekst {
    text-align: center; }

  .anbefaletbilleder {
    width: 50%;
    border-bottom: solid 1px #a6cf9a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; }

  .anbefaletsend {
    text-align: center; }

  .anmeldelser {
    justify-content: space-around;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    padding: 50px; }

  .anmeldelsertekst {
    text-align: center; } }

/*# sourceMappingURL=styles.css.map */
