// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  font-family: gill-sans-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

  h2, h3, h4, h5, h6 {
    margin: 0; // Ingen ydre margen fra overskrifter
    padding: 0; // Ingen indre margen fra overskrifter
  }

  ul, ol {
    margin: 0; // Ingen ydre margen fra lister
    padding: 0; // Ingen indre margen fra lister
    list-style-position: inside; // List punkter står på linje
  }

  li {
    margin: 0; // Ingen ydre margen fra listpunkter
  }

  p {
    margin: 0; // Ingen ydre margen fra paragraffer
    padding: 0; // Ingen indre margen fra paragraffer
  }

  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  a:hover{
    text-decoration: underline;
  }

  // Sikrer billeder er responsive
  img {
    display: block; // Billeder er et element (laver linjeskift)
    max-width: 100%; // Bredde må maks fylde 100%
    height: auto; // Højden skal tilpasse sig
  }
  $green: #a6cf9a;
  $red: #E55B69;
  //section: Headerfooter-start
  #infotop{
  }
  //section: Headerfooter-slut

  //section: Forside-start


.nyhedtekst{
  text-align: center;
}

.nyheder{
  margin-right: auto;
  margin-left: auto;
}

.nyhedbilleder{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: solid 1px $green;
  width: 50%;
}

.nyhedsend{
  text-align: center;
}


.nyhedbilleder img{
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 250px;
}


.anbefalettekst{
  text-align: center;
}

.anbefaletbilleder{
  width: 50%;
  border-bottom: solid 1px $green;
  margin-left: auto;
  margin-right: auto;

}

.anbefaletsend{
  text-align: center;
}


h2{
  color: $green;
}

p{
  text-align: center;
  width: 50%;
  margin: auto;
}

.soeren{
  text-align: center;
  border: 3px solid green;
}

.anmeldelser{
  text-align: center;
}

.soerenbillede{
  background-image: url("../images/photo-1496345875659-11f7dd282d1d.jpeg");
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border: 3px solid green;
  margin-right: auto;
  margin-left: auto;

}

.soeren img{
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.christina img{
  width: 30%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.christina{
  text-align: center;
}

.jeppe img{
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.jeppe{
  text-align: center;
}

.nyhedbilleder img{
  width: 50%;

}





  //section: Forside-slut

  //section: Produkter-start
  //section: Produkter-slut

  //section: produkterinfo-start
.pTop{
  text-align: center;
  margin: 50px;
}

.pProdukter{
  width: 100%;
  padding: 50px;

}

.pProdukt{
  width: 250px;
  height: 350px;
  padding: 20px;
  text-align: left;
}

.pImg{
  width: 100%;
  height: 200px;
  top: 0;
  right: 0;
  border-bottom: solid 1px $green;
  transform: translate(0%, 0%);
}

.pImage{
  display: block;
  height: 100%;
  width: auto;
}

.pHover{
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  transform: translate(0%, 0%);
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.pHover:hover{
  text-decoration: underline;
  cursor: pointer
}

.pOverlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(166, 207, 154, 0.8);
}

.pImg:hover .pOverlay{
  opacity: 1;
}

.pPris{
  font-size: 30px;
  color: $green;
}

.pAdd{
  width: 120px;
  padding: 5px;
  background-color: $red;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.pAdd:hover{
  text-decoration: underline;
}

  //section: produkterinfo-slut

  //section: Omos-start
.sektion1, .sektion2{
width: 100%;
  padding: 50px;
}

.billedeomos{
  padding-top: 20px;
}
.billede2{
  width:80%;
  height: auto;
  margin-top: 50px;
}
  //section: Omos-slut

  //section: Blog-start
  //section: Blog-slut

  //section: Bloginfo-start
  //section: Bloginfo-slut


  @media screen and (min-width: 768px) {
    // Alt der ændres i tablet stående fra mobil
    .billede2{
      width: 200px;
      height: 200px;
    }
    .tekst2, .tekst3{
      max-width: 400px;

    }
  }

  @media screen and (min-width: 992px) {
    // Alt der ændres i tablet liggende fra mobil og tablet stående

    .billedeomos{
      padding-top: 0px;
    }

    .sektion1{
      display: flex;
      flex-direction: row-reverse;
    }
    .omostekst{
      margin-left: 50px;
    }
    .sektion2 {
      display: flex;
      justify-content: center;

    }

    .omvendt{
      flex-direction: row-reverse;
    }
    .tekst2 {
      margin-right: 50px;
    }
    .tekst3{
      margin-left: 50px;
    }
    .billede2 {
      margin-top: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  }

  @media print {
    // Alt der gælder for print specifikt
  }
